In [7]:
import pandas as pd
import numpy as np

In [13]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.652886  0.520739  1.325617  1.170047
2013-01-02  0.139690  0.790932  0.989564 -0.323414
2013-01-03 -0.112434  0.766584 -0.394805  0.062674
2013-01-04 -0.931568  1.176100 -0.920873  2.238600
2013-01-05  0.290620 -1.324710  0.170706  0.857212
2013-01-06 -0.681026 -0.076779  1.071143  0.038110

In [17]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [18]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
df2.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:
df.tail()

                   A         B         C         D
2013-01-02  0.139690  0.790932  0.989564 -0.323414
2013-01-03 -0.112434  0.766584 -0.394805  0.062674
2013-01-04 -0.931568  1.176100 -0.920873  2.238600
2013-01-05  0.290620 -1.324710  0.170706  0.857212
2013-01-06 -0.681026 -0.076779  1.071143  0.038110

In [22]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [24]:
df.to_numpy()

array([[-1.65288567,  0.52073899,  1.32561683,  1.17004729],
       [ 0.13968951,  0.7909315 ,  0.9895643 , -0.3234138 ],
       [-0.11243396,  0.76658428, -0.39480469,  0.06267385],
       [-0.93156783,  1.17610046, -0.92087287,  2.23859994],
       [ 0.29061986, -1.32471016,  0.1707057 ,  0.85721191],
       [-0.68102574, -0.07677858,  1.07114335,  0.03810987]])

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.491267  0.308811  0.373559  0.673872
std    0.739216  0.900685  0.903281  0.948737
min   -1.652886 -1.324710 -0.920873 -0.323414
25%   -0.868932  0.072601 -0.253427  0.044251
50%   -0.396730  0.643662  0.580135  0.459943
75%    0.076659  0.784845  1.050749  1.091838
max    0.290620  1.176100  1.325617  2.238600

In [26]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.652886    0.139690   -0.112434   -0.931568    0.290620   -0.681026
B    0.520739    0.790932    0.766584    1.176100   -1.324710   -0.076779
C    1.325617    0.989564   -0.394805   -0.920873    0.170706    1.071143
D    1.170047   -0.323414    0.062674    2.238600    0.857212    0.038110

In [27]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.170047  1.325617  0.520739 -1.652886
2013-01-02 -0.323414  0.989564  0.790932  0.139690
2013-01-03  0.062674 -0.394805  0.766584 -0.112434
2013-01-04  2.238600 -0.920873  1.176100 -0.931568
2013-01-05  0.857212  0.170706 -1.324710  0.290620
2013-01-06  0.038110  1.071143 -0.076779 -0.681026

In [33]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-05  0.290620 -1.324710  0.170706  0.857212
2013-01-06 -0.681026 -0.076779  1.071143  0.038110
2013-01-01 -1.652886  0.520739  1.325617  1.170047
2013-01-03 -0.112434  0.766584 -0.394805  0.062674
2013-01-02  0.139690  0.790932  0.989564 -0.323414
2013-01-04 -0.931568  1.176100 -0.920873  2.238600