# How to import dataset in python using pandas library
Written by: M. Afzal\
Date: 08.06.2024\
Email:afzaalm993@gmail.com

In [1]:
# Step 1
# importing library
import pandas as pd

In [3]:
# Step 2
# reading/importing dataset with name
df = pd.read_excel("D:\python ka chila\pandas_01_day6.xlsx")

In [10]:
df.head(10)

  height  weight favourite_dish
0    5.8     101  Chicken Pulao
1    6.2      92        Biryani
2    5.9      62  Karahi Ghosht
3    5.9      95  Chicken Pulao
4    5.9      55  Chicken Pulao
5    5.3      59        Biryani
6    5.6      50          Pasta
7    5.9      76        Biryani
8    5.1      78        Biryani
9    5.4      68        Biryani

In [4]:
df

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

In [9]:
df.shape

(87, 3)

df.tail(10)